<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="keywords" content="Comma separated words for SEO">
  <meta name="description" content="rent a house">
  <meta name="author" content="Dilnoza">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/335838e777.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="./resources/scripts/Main_Style-Sheet.css">
  <link rel="shortcut icon" href="./resources/assests/favicon.svg" type="image/x-icon">

    <title>Hotel</title>
</head>
<body>
    
        <section class="text-dark bg-light p-5" >
            
          <div class="container">
    
            <div class="m-5 text-center">
              <h1>Popular Destination </h1>
              <h3 class="my-3"> Find Perfect Hotel </h3>
            </div>
    
            <div class="row g-4">
            
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/9.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Expo Hotel Barcelona</h5>
                <p class="card-text">Hotel Expo Barcelona is located next to Barcelona Sants Station. Its rooftop pool and terrace offer 
                    fantastic city views and the modern rooms feature a private balcony. </p>
                    <p class="text-uppercase">  price: 90€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>


                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
                </div>
            </div>
            
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/10.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Barcelona Princess</h5>
                <p class="card-text">Barcelona Princess Hotel is a 10-minute walk from the beach in the city’s Forum area. 
                    It offers wonderful views and a free gym. Free WiFi is available throughout. ..</p>
                    <p class="text-uppercase">  price: 85€/day </p>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                <div> 
                    <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                   </div>
              </div>
            </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/11.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> Motel One Barcelona </h5>
                <p> Set in Barcelona’s Born District, right beside Ciutadella Park, Motel One Barcelona-Ciutadella offers modern, 
                    air-conditioned rooms with a private bathroom and an interactive TV. </p>
                     <p class="text-uppercase">  price: 55€/day </p>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                     <div> 
                     <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                    </div>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/12.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Barcelo Sants</h5>
                <p class="card-text">Situated above Barcelona Sants Train Station, Barceló Sants offers a subtle outer space theme 
                    throughout. Minimalist rooms feature free Wi-Fi, rain showers, and large windows  </p>
                    <p class="text-uppercase">  price: 95€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
              </div>
            </div>
          </div>
          
          </div>
    
        </section>
      


</body>
</html>