<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="keywords" content="Comma separated words for SEO">
  <meta name="description" content="rent a house">
  <meta name="author" content="Dilnoza">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/335838e777.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="./resources/scripts/Main_Style-Sheet.css">
  <link rel="shortcut icon" href="./resources/assests/favicon.svg" type="image/x-icon">

    <title>Hotel</title>
</head>
<body>
    
        <section class="text-dark bg-light p-5" >
            
          <div class="container">
    
            <div class="m-5 text-center">
              <h1>popular Destination </h1>
              <h3 class="my-3"> Find Perfect Hotel </h3>
            </div>
    
            <div class="row g-4">
            
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/0.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Britannia International Hotel</h5>
                <p class="card-text">Britannia International Hotel Canary Wharf has spacious rooms and limited free WiFi access 
                    in bedrooms, just 600 metres from Canary Wharf Underground Station. </p>
                    <p class="text-uppercase">  price: 80€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
                </div>
            </div>
            
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The Tower Hotel</h5>
                <p class="card-text"> Nestled between the River Thames and St Katherine’s Dock, and next to Tower Bridge, 
                    The Tower Hotel offers ideal location, a restaurant, a bar and a fitness centre.</p>
                    <p class="text-uppercase">  price: 77€/day </p>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <div> 
                    <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                   </div>
              </div>
            </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> Central Park Hotel </h5>
                <p> Located less than 100 metres from Hyde Park, the Central Park Hotel is just a 2-minute walk from Queensway
                     Underground Station. Ideal place to stay for tourism</p>
                     <p class="text-uppercase">  price: 80€/day </p>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                     <div> 
                     <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                    </div>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/4.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Leonardo Royal London Tower</h5>
                <p class="card-text">Boasting spacious rooms with LED TVs, cosy bathrobes and free Wi-Fi, this hotel is 
                    situated in central London, 15 minutes’ walk from the Tower of London. the pool was great.</p>
                    <p class="text-uppercase">  price: 95€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
              </div>
            </div>
          </div>
          
          </div>
    
        </section>
      


</body>
</html>