<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="keywords" content="Comma separated words for SEO">
  <meta name="description" content="rent a house">
  <meta name="author" content="Dilnoza">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/335838e777.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="./resources/scripts/Main_Style-Sheet.css">
  <link rel="shortcut icon" href="./resources/assests/favicon.svg" type="image/x-icon">

    <title>Hotel</title>
</head>
<body>
    
        <section class="text-dark bg-light p-5" >
            
          <div class="container">
    
            <div class="m-5 text-center">
              <h1>Popular Destination </h1>
              <h3 class="my-3"> Find Perfect Hotel </h3>
            </div>
    
            <div class="row g-4">
            
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/13.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The Hive Hotel </h5>
                <p class="card-text">Featuring a shared rooftop terrace, The Hive Hotel is 300 metres from Santa Maria Maggiore Basilica.
                     The hotel provides free WiFi throughout, air-conditioned rooms and modern rooms. </p>
                    <p class="text-uppercase">  price: 89€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>


                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
                </div>
            </div>
            
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center">
              <img class="card-img-top cardImgs" src="../static/images/hotels/14.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hotel Quirinale</h5>
                <p class="card-text">Set in a 19th-century building, the Quirinale is 20 minutes' walk from the Coliseum. This historical hotel is connected 
                    to Rome Opera House through a passageway in its leafy courtyard...</p>
                    <p class="text-uppercase">  price: 85€/day </p>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>

                <div> 
                    <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                   </div>
              </div>
            </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/15.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> Barcelo Aran Mantega </h5>
                <p> Barceló Aran Mantegna is a large design hotel offering a tranquil location in the Tor Marancia district. The property
                     offers free WiFi throughout, as well as a large business centre. </p>
                     <p class="text-uppercase">  price: 75€/day </p>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                     <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>


                     <div> 
                     <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                    </div>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
            <div class="card text-center" >
              <img class="card-img-top cardImgs" src="../static/images/hotels/16.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hotel Milton Roma</h5>
                <p class="card-text">SSet in an 18th-century building just metres from Rome's Manzoni Metro, Hotel Milton Roma offers elegant
                     rooms with parquet floors, free high-speed WiFi at 300 Mbit, and a garden and amazing survice.  </p>
                    <p class="text-uppercase">  price: 90€/day </p>

                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>
                    <a class="link-warning" href=""><i class="fa fa-star" aria-hidden="true"></a></i>


                    <div> 
                        <button class="btn btn-dark btn-sm mt-2" type="button" >Book now</button> 
                       </div>
              </div>
            </div>
          </div>
          
          </div>
    
        </section>
      


</body>
</html>